 # I : notebook_predict introduction

#### I / A : Documentation

Hello mister Guizar. In this document you will find the model that you ordered from my company. You will have to follow each of the steps in the document in order to get the predictions that you want (median_house_value). You will have to execute each cell in order have a model that will work. I hope this will be clear enough and that th results will meet your expectations.

### II : Explanation step by steps

#### II / A : Import the libraries that are recquired for our model.

In [7]:
###### FIRST CELL TO EXECUTE : Importing libraries ######

# Basic imports
import pickle
import pandas as pd
import numpy as np

# Scikit learn libraries
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsRegressor

# Importing our trained model
with open('model_pickle', 'rb') as file:
    model = pickle.load(file)

In [5]:
###### SECOND CELL TO EXECUTE : Importing data that you wan to test ######

# Here, you need to replace the string 'PATHNAME_OF_YOUR_DATA_FILE' by the pathname of your file
# For example : model_df = pd.read_csv('data/eda_clean_df.csv')
model_df = pd.read_csv('PATHNAME_OF_YOUR_DATA_FILE')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
16331,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND
16332,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16333,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND
16334,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16335,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

In [6]:
###### THIRD CELL TO EXECUTE : Creating clusters and transforming some columns of your dataframe ######

# First, we need to drop ocean_proximity feature
model_df_drop = model_df.drop("ocean_proximity", axis=1)

# Clustering with KMeans
kmeans = KMeans(n_clusters=3, random_state=42).fit(model_df_drop)
labels = kmeans.labels_

# Creating new dataframe
kmean_df = pd.DataFrame(data = model_df_drop)

# Adding label_kmeans and ocean_proximity columns
kmean_df['label_kmeans'] = labels
kmean_df["ocean_proximity"] = model_df["ocean_proximity"]

In [9]:
###### FOURTH CELL TO EXECUTE : Splitting your dataframe ######

X = kmean_df.drop("median_house_value", axis=1).copy()
y = kmean_df["median_house_value"].copy()

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=1)

In [10]:
###### FIFTH CELL TO EXECUTE : Selecting numerical and categorical columns ######

cat_columns = X_train.select_dtypes(include=["object"]).columns.tolist()
num_columns = X_train.select_dtypes(exclude=["object"]).columns.tolist()

In [16]:
###### SIXTH CELL TO EXECUTE : Predicting the median_house_value from your dataset ######

median_house_value_predictions = model.predict(X_test)

In [17]:
###### SEVENTH CELL TO EXECUTE : Comparing real value with predicted ones (OPTIONNAL) ######

prediction_df = pd.DataFrame()
prediction_df["Real_Value"] = y_test
prediction_df["Predicted_Value"] = median_house_value_predictions
prediction_df

       Real_Value  Predicted_Value
13044    476400.0         461460.4
6600      90000.0          87480.0
15059    224700.0         198560.0
3072     117600.0         121920.0
5063     218400.0         243840.0
...           ...              ...
13220    215000.0         232360.0
7450     249200.0         214200.0
12034    215700.0         254520.0
1686     116400.0         122000.0
15780    500001.0         500001.0

[4901 rows x 2 columns]

In [18]:
###### EIGHTH CELL TO EXECUTE : Metrics of our model  (OPTIONNAL) ######

# Here, you will see how good the model is for predicting the right values
print(f'r² score : {model.score(X_test, y_test)}')
print(f'mae score : {mean_absolute_error(y_test, median_house_value_predictions)}')
print(f'mae % score : {mean_absolute_percentage_error(y_test, median_house_value_predictions)}')

r² score : 0.9031538750176659
mae score : 26746.389716384412
mae % score : 0.15314172322335073