In [1]:
import pandas as pd
import numpy as np

# ScikitLearn
from sklearn import metrics
from sklearn.linear_model import LinearRegression

# First iteration with missing values removed

In [2]:
# Importing train dataframe
train_df_1 = pd.read_csv("./data/train_df_1.csv")
train_df_1.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-118.03,34.16,39.0,2731.0,366.0,1034.0,338.0,9.8098,500001.0,INLAND
1,-121.62,39.16,16.0,2037.0,464.0,1267.0,451.0,2.4556,97100.0,INLAND
2,-120.55,38.45,17.0,2277.0,474.0,767.0,356.0,2.5208,99100.0,INLAND
3,-117.10,32.67,26.0,2629.0,763.0,2721.0,767.0,2.0982,109100.0,NEAR OCEAN
4,-122.89,38.38,16.0,2017.0,369.0,931.0,336.0,5.7664,267500.0,<1H OCEAN

In [3]:
# Importing test dataframe
test_df_1 = pd.read_csv("./data/test_df_1.csv")
test_df_1.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.69,36.62,19.0,1907.0,323.0,681.0,270.0,6.0332,244900.0,<1H OCEAN
1,-122.64,37.96,29.0,377.0,58.0,151.0,67.0,9.5551,500001.0,NEAR OCEAN
2,-121.49,38.47,26.0,6121.0,1185.0,4224.0,1105.0,2.3496,68000.0,INLAND
3,-121.88,37.39,13.0,3334.0,565.0,2240.0,561.0,7.1050,273900.0,<1H OCEAN
4,-117.25,34.12,17.0,3107.0,752.0,2160.0,643.0,1.8463,72600.0,INLAND

### Iteration 1 : linear regression with missing values removed

In [4]:
# Defining train y (target) and X (features)
y_train = train_df_1['median_house_value']
X_train = train_df_1.drop(["median_house_value", "ocean_proximity", "total_bedrooms"], axis=1)

# Defining test y (target) and X (features)
y_test = test_df_1['median_house_value']
X_test = test_df_1.drop(["median_house_value", "ocean_proximity", "total_bedrooms"], axis=1)

# Defining linear regression model.
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Store predictions in a variable, for metrics uses
y_pred = model.predict(X_test)

# Evaluate the model with the test set
model.score(X_test, y_test)

0.649450382795381

In [5]:
# Evaluate the model
r2 = model.score(X_test, y_test)
mae = metrics.mean_absolute_error(y_test, y_pred)
mse = metrics.mean_squared_error(y_test, y_pred)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

####### ERROR WITH METRICS EXCEPT R2. DON'T KNOW WHY ####
print(f'r2 : {r2}')
print(f'mae : {mae}')
print(f'mse : {mse}')
print(f'rmse : {rmse}')

r2 : 0.649450382795381
mae : 50838.47509140581
mse : 4693162993.504909
rmse : 68506.66386202812