In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# First iteration with missing values removed

In [3]:
# Importing train dataframe
train_df_1 = pd.read_csv("./data/train_df_1.csv")
train_df_1.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-117.83,33.66,16.0,1574.0,385.0,515.0,363.0,5.3423,291700.0,<1H OCEAN
1,-121.83,37.24,23.0,2543.0,388.0,1297.0,385.0,5.9164,237400.0,<1H OCEAN
2,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,112500.0,NEAR BAY
3,-118.21,34.06,30.0,511.0,153.0,1152.0,149.0,2.3611,156800.0,<1H OCEAN
4,-121.89,37.30,47.0,1604.0,284.0,639.0,278.0,5.8415,283300.0,<1H OCEAN

In [4]:
# Importing test dataframe
test_df_1 = pd.read_csv("./data/test_df_1.csv")
test_df_1.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.30,37.53,38.0,984.0,171.0,429.0,157.0,5.3261,376800.0,NEAR OCEAN
1,-118.11,33.83,37.0,1249.0,202.0,517.0,189.0,4.4196,223100.0,<1H OCEAN
2,-117.69,34.03,20.0,6374.0,1412.0,3690.0,1350.0,3.4184,162500.0,INLAND
3,-116.58,32.69,19.0,4085.0,876.0,2133.0,718.0,2.9190,116500.0,INLAND
4,-120.85,35.37,21.0,1033.0,195.0,588.0,187.0,2.8173,226900.0,NEAR OCEAN

In [9]:
X_train = train_df_1.drop(["median_house_value", "ocean_proximity", "total_bedrooms"], axis=1)
X_train

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income
0,-117.83,33.66,16.0,1574.0,515.0,363.0,5.3423
1,-121.83,37.24,23.0,2543.0,1297.0,385.0,5.9164
2,-122.28,37.81,52.0,340.0,200.0,87.0,1.5208
3,-118.21,34.06,30.0,511.0,1152.0,149.0,2.3611
4,-121.89,37.30,47.0,1604.0,639.0,278.0,5.8415
...,...,...,...,...,...,...,...
11429,-120.93,37.56,17.0,1812.0,672.0,334.0,1.5500
11430,-117.07,32.61,10.0,1686.0,1000.0,391.0,2.1765
11431,-117.10,32.58,17.0,2046.0,1585.0,530.0,2.2500
11432,-122.25,37.86,52.0,1587.0,878.0,449.0,1.7652
11433,-116.92,33.63,18.0,397.0,239.0,80.0,2.8125

### testing linear regression

In [5]:
# Defining train y (target) and X (features)
y_train = train_df_1['median_house_value']
X_train = train_df_1.drop(["median_house_value", "ocean_proximity", "total_bedrooms"], axis=1)

# Defining test y (target) and X (features)
y_test = test_df_1['median_house_value']
X_test = test_df_1.drop(["median_house_value", "ocean_proximity", "total_bedrooms"], axis=1)

# Defining linear regression model.
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
model.score(X_test, y_test)

0.6504761465482871

longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        52
population             0
households             0
median_income          0
median_house_value     0
ocean_proximity        0
dtype: int64